* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************* SECTIONS *************/

header {
  background-color: rgba(0, 132, 253, 255);
  color: white;
  padding: 17px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/************** LAYOUT **************/

.header-container,
.main-container {
  max-width: 480px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 120px auto 60px auto;
}

.main-row-mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 60px auto;
  padding: 50px 0px 40px 0px;
}

.main-row .col-50,
.col-25 {
  background-color: rgba(181, 221, 255, 255);
  width: 85%;
  margin: 10px 0;
  border-radius: 20px;
}

.main-col-50 {
  width: 85%;
  margin: 10px 0;
}

.card-img img {
  width: 240px;
}

.card-img {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 27px;
}

h4 {
  font-size: x-large;
}

h5 {
  font-size: large;
}

.card-title i {
  font-size: 80px;
}

.strategic-planning img {
  width: 250px;
}

.app-dev img {
  width: 250px;
}

.app-dev {
  border-radius: 45px;
}

/************ UTILITY CLASSES ************/

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.light-blue {
  color: rgba(0, 132, 253, 255);
}

.dark-grey {
  color: rgba(90, 110, 127, 255);
}

.padding-15px {
  padding: 15px;
}

.padding-20px {
  padding: 20px;
}

.padding-t60-b40 {
  padding-top: 60px;
  padding-bottom: 40px;
}

.margin-t25px {
  margin-top: 25px;
}

.margin-b10px {
  margin-bottom: 10px;
}

.padding-top-30px {
  padding-top: 30px;
}

.card-b {
  color: white;
  padding: 10px 60px;
  border-radius: 25px;
  background-color: rgba(0, 132, 253, 255);
  font-size: 15px;
  border: none;
}

.line-h-1_5rem {
  line-height: 1.5rem;
}

.purple-bg {
  background-color: rgba(151, 146, 228, 255);
}

.white-bg {
  background-color: white;
}

.white {
  color: white;
}

.purple-down-arrow {
  padding: 15px 19px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(151, 146, 228, 255);
}
